<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="{{ default `ltr` .Language.LanguageDirection }}">
    <head>
        {{- partial "head/head.html" . -}}
        {{- block "head" . -}}{{ end }}
    </head>
    <body class="{{ block `body-class` . }}{{ end }}">
        {{- partial "head/colorScheme" . -}}

        {{/* The container is wider when there's any activated widget */}}
        {{- $hasWidget := false -}}
        {{- range .Site.Params.widgets -}}
            {{- if gt (len .) 0 -}}
                {{- $hasWidget = true -}}
            {{- end -}}
        {{- end -}}
        <div class="container main-container flex on-phone--column {{ if $hasWidget }}extended{{ else }}compact{{ end }}">
            {{- block "left-sidebar" . -}}
                {{ partial "sidebar/left.html" . }}
            {{- end -}}
            {{- block "right-sidebar" . -}}{{ end }}
            <main class="main full-width">
                {{- block "main" . }}{{- end }}
            </main>
        </div>
        {{ partial "footer/include.html" . }}
    </body>
</html>
<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>

<!-- 以下是用于ko-fi的打赏旋钮 -->
<script>
  kofiWidgetOverlay.draw('nielslee', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Support Me',
    'floating-chat.donateButton.background-color': '#00b9fe',
    'floating-chat.donateButton.text-color': '#fff'
  });
</script>
<style>
    .floatingchat-container-wrap { left: unset; bottom: 40px; right: 20px; width: 50%; }
    .floatingchat-container-wrap-mobi { left: unset; bottom: 40px; right: 20px; width: 50%;}
    .floating-chat-kofi-popup-iframe { left: unset; bottom: 100px; right: 20px; }
    .floating-chat-kofi-popup-iframe-mobi { left: unset; bottom: 100px; right: 20px; }
    .floating-chat-kofi-popup-iframe-closer-mobi { left: unset; bottom: 100px; right: 20px; }
</style>